<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/site.min.css")
    @Scripts.Render("~/scripts/main.min.js")
</head>
<body class="container-fluid">
    @RenderBody()
    @RenderSection("scripts", required: false)
    <div id="loader">
        <div class="loader double"></div>
        <div class="overlay"></div>
    </div>
</body>
</html>